<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Adjust the path accordingly -->
</head>
<body>
    <div class="auth-container">
        <div class="auth-form">
            <h2>Register</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Register</button>
            </form>
            <p>Already have an account? <a href="{% url 'login' %}">Login here</a>.</p>
        </div>
    </div>
</body>
</html>
